<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Space Explorer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<style>
	.spaces {
		max-width: 95%; 
		margin-top: 25px;
	}
	.current-space {
		margin-bottom: 15px;
	}
	.current-space .created {
		display: inline-block; 
		position: relative; 
		top: -10px;
	}
	.description-card {
		width: 50%; 
		height: 150px; 
		margin: 0 0 25px 25px;
	}
	.pointer {
		cursor: pointer;
	}
</style>

<body ng-app="spaces">
  <div ng-controller="SpaceExplorer">
    <div class="container spaces">
      <div class="row">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a ng-repeat="space in spaces" ng-click="selectSpace(space)" class="nav-link" ng-class="currentSpace === space ? 'active' : ''" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="currentSpace === space">{{space.fields.title}}</a>
        </div>
        <div class="col-10">
          <div class="display-4 current-space">
          	{{currentSpace.fields.title}}
          	<h5 class="created"> created by {{createdBy}}</h5>
          </div>
          <div class="card description-card">
            <div class="card-body">
              {{currentSpace.fields.description}}
            </div>
          </div>
          <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link" ng-class="showEntry ? 'active' : ''" id="nav-entries-tab" ng-click="selectTab('entry')">Entries</a>
            <a class="nav-item nav-link" ng-class="!showEntry ? 'active' : ''" id="nav-assets-tab" ng-click="selectTab('asset')">Assets</a>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div ng-if="showEntry" class="tab-pane fade show active" id="nav-entries">
              <table class="table table-striped">
                <thead>
                  <tr class="row pointer">
                    <th class="col" ng-click="sortBy('fields.title')">Title</th>
                    <th class="col" ng-click="sortBy('fields.summary')">Summary</th>
                    <th class="col" ng-click="sortBy('sys.createdBy')">Created By</th>
                    <th class="col" ng-click="sortBy('sys.updatedBy')">Updated By</th>
                    <th class="col" ng-click="sortBy('sys.updatedAt')">Last Updated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row" ng-repeat="entry in entries | orderBy:propertyName:reverse">
                    <td class="col">{{entry.fields.title}}</td>
                    <td class="col">{{entry.fields.summary}}</td>
                    <td class="col">{{created[entry.sys.id]}}</td>
                    <td class="col">{{updated[entry.sys.id]}}</td>
                    <td class="col">{{entry.sys.updatedAt | date : "short"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-if="!showEntry" class="tab-pane fade show active" id="nav-assets">
              <table class="table table-striped">
                <thead>
                  <tr class="row pointer">
                    <th class="col" ng-click="sortBy('fields.title')">Title</th>
                    <th class="col" ng-click="sortBy('fields.contentType')">Content Type</th>
                    <th class="col" ng-click="sortBy('fields.fileName')">File Name</th>
                    <th class="col" ng-click="sortBy('sys.createdBy')">Created By</th>
                    <th class="col" ng-click="sortBy('sys.updatedBy')">Updated By</th>
                    <th class="col" ng-click="sortBy('sys.updatedAt')">Last Updated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row" ng-repeat="asset in assets | orderBy:propertyName:reverse">
                    <td class="col">{{asset.fields.title}}</td>
                    <td class="col">{{asset.fields.contentType}}</td>
                    <td class="col">{{asset.fields.fileName}}</td>
                    <td class="col">{{created[asset.sys.id]}}</td>
                    <td class="col">{{updated[asset.sys.id]}}</td>
                    <td class="col">{{asset.sys.updatedAt | date : "short"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
